.container {
  font-family: "Raleway", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 10px;
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  color: #f0f3f5;
  border-radius: 20px;
}

.city {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: black;
}

.search {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: #f0f3f5;
}

.div1 {
  color: #f0f3f5;
}

#city {
  display: block;
  margin: 0 auto;
  border: rgb(255, 255, 255);
  color: #f0f3f5;
  background-color: #3aa3d300;
  border-radius: 40px;
  font-size: 50px;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  right: 260px;
  top: 110px;
}

#locationButton {
  border-radius: 40px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: #f0f3f5;
  position: relative;
  top: -250px;
  left: 450px;
}
.header {
  display: block;
  margin: 8px;
  color: #f0f3f5;
}

form,
h3 {
  text-align: center;
  margin: auto;
  color: #f0f3f5;
}

.linkedIn {
  color: white;
  font-size: 100px;
}
a {
  text-decoration: none;
  color: #f0f3f5;
}

.units {
  color: #f0f3f5;
  font-size: 15px;
  position: relative;
  top: -345px;
  right: -700px;
}
#today {
  color: #f0f3f5;
  font-size: 60px;
  position: relative;
  top: -280px;
  right: -630px;
}

#humidityWind {
  color: #f0f3f5;
  position: relative;
  top: -210px;
  left: 720px;
  margin: 0 auto;
  font-size: 15px;
  list-style: none;
}

#icon {
  width: 110px;
  position: relative;
  top: -180px;
  right: -150px;
}
#updateDate {
  position: relative;
  top: 0px;
  right: -350px;
  list-style: none;
}

.weather-forecast h2 {
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
