.container {
  font-family: "Raleway", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(
    5deg,
    #dae2e6,
    rgb(140, 199, 238),
    rgb(148, 159, 172),
    white
  );
  padding: 10px 10px;
  border-radius: 10px;
  color: #a1d9f3;
}

.city {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(6, 84, 173);
}

.search {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(6, 84, 173);
}

.div1 {
  color: white;
}

#city {
  display: block;
  margin: 0 auto;
  border: rgb(255, 255, 255);
  color: white;
  background-color: #a1d9f300;
  border-radius: 40px;
  font-size: 50px;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  right: -200px;
  top: 60px;
}

#locationButton {
  border-radius: 40px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(252, 252, 252);
  position: relative;
  top: -64px;
  left: 335px;
}
.header {
  display: block;
  margin: 8px;
  color: #a1d9f3;
}

form,
h3 {
  position: relative;
  top: 0px;
  left: 100px;
  color: rgb(244, 244, 248);
}

.units {
  color: white;
  font-size: 15px;
  position: relative;
  top: -213px;
  right: -635px;
}
#today {
  color: white;
  font-size: 60px;
  position: relative;
  top: -150px;
  right: -560px;
}

li {
  color: white;
  position: relative;
  top: -65px;
  left: 680px;
  margin: 0 auto;
  font-size: 15px;
  list-style: none;
}
