.container {
  font-family: "Raleway", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: honeydew;
  color: #5a97b3;

  border-radius: 20px;
}

.city {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(6, 84, 173);
}

.search {
  border-radius: 30px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: rgb(6, 84, 173);
}

.div1 {
  color: #5a97b3;
}

#city {
  display: block;
  margin: 0 auto;
  border: rgb(255, 255, 255);
  color: #5a97b3;
  background-color: #3aa3d300;
  border-radius: 40px;
  font-size: 50px;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  position: relative;
  right: -200px;
  top: 60px;
}

#locationButton {
  border-radius: 40px;
  border: none;
  margin: 10px auto;
  padding: 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  color: #5a97b3;
  position: relative;
  top: -64px;
  left: 335px;
}
.header {
  display: block;
  margin: 8px;
  color: #5a97b3;
}

form,
h3 {
  position: relative;
  top: 0px;
  left: 100px;
  color: #5a97b3;
}

.units {
  color: #5a97b3;
  font-size: 15px;
  position: relative;
  top: -213px;
  right: -635px;
}
#today {
  color: #5a97b3;
  font-size: 60px;
  position: relative;
  top: -150px;
  right: -560px;
}

li {
  color: #5a97b3;
  position: relative;
  top: -65px;
  left: 680px;
  margin: 0 auto;
  font-size: 15px;
  list-style: none;
}
